rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
  
    // Pravidla pro uživatelské profily
    match /users/{userId} {
      allow read: if request.auth != null;
      allow write: if request.auth != null && request.auth.uid == userId;
      
      // Kolekce přátel
      match /friends/{friendId} {
        // Uživatel může číst své přátele. Přítel může číst také.
        allow read: if request.auth != null && (request.auth.uid == userId || request.auth.uid == friendId);
        
        // Zápis je povolen pokud:
        // 1. Zapisuje vlastník profilu (userId == request.auth.uid)
        // 2. Nebo odesílatel žádosti zapisuje dokument pojmenovaný jako jeho vlastní UID do přátel příjemce (friendId == request.auth.uid)
        allow write: if request.auth != null && (request.auth.uid == userId || request.auth.uid == friendId);
      }
    }
    
    // Globální aktivity
    match /activities/{activityId} {
      allow read, write: if request.auth != null;
    }
    
    // Výzvy 1v1
    match /challenges/{challengeId} {
      allow read, write: if request.auth != null;
    }
  }
}
